# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/kampmrkh/public_html/fh/PVM"
PassengerBaseURI "/PVM"
PassengerPython "/home/kampmrkh/virtualenv/public__html_fh_PVM/3.7/bin/python3.7"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
